<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
        <servlet-name>welcome-servlet</servlet-name>
        <servlet-class>servlets.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>postservlet</servlet-name>
        <servlet-class>servlets.HelloWorldServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>welcome-servlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>postservlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

</web-app>